<div class="contact-main"> <%= image_tag "open.svg", :alt => "Open", :class=>"icon-menu", :width=>"24px" %>
        <div class="content container">
            <h1>Thanks. We'll be in touch.</h1> </div>
    </div>